{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Evaluador</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ entity.nombre }}</td>
            </tr>
            <tr>
                <th>Correo</th>
                <td>{{ entity.correo }}</td>
            </tr>
            <tr>
                <th>Area</th>
                <td>{{ entity.area }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
    <button type="button" onClick=" window.location.href='{{ path('evaluador') }}' "> Regresar a 
	evaluadores</button>
    </li>
    
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
