{% extends '::base2.html.twig' %}

{% block body -%}
   <h3 class="titulos">Convocatorias</h3>
	<br>
    <table class="records_list">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Fecha Inicio</th>
                <th>Fecha Fin</th>
                <th>Inscribirse</th>
            </tr>
        </thead>
        <tbody>
 {% for entity in entities %}
            <tr>
                <td>{{ entity.nombre }}</td>
                <td>{% if entity.fechaInicia %}{{ entity.fechaInicia|date('Y-m-d') }}{% endif %}</td>
                <td>{% if entity.fechaFin %}{{ entity.fechaFin|date('Y-m-d') }}{% endif %}</td>
                <td><a href="{{ path('proyectos_nuevo', { 'id': entity.id }) }}"><img src="{{
     					asset('img/Apply.png') }}" title="Aplicar a la convocatoria"</img></a>
                                
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

       <br>
    <br>
    {% endblock %}
