{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Investigadores</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Correo</th>
                <th>Direccion</th>
                <th>Telefono</th>
                <th>Tipo</th>
                <th>Cedula</th>
                <th>Observaciones</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('investigador_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.nombre }}</td>
                <td>{{ entity.correo }}</td>
                <td>{{ entity.direccion }}</td>
                <td>{{ entity.telefono }}</td>
                <td>{{ entity.tipo }}</td>
                <td>{{ entity.cedula }}</td>
                <td>{{ entity.observaciones }}</td>
                <td>
                
                <a href="{{ path('investigador_show', { 'id': entity.id }) }}"><img src="{{
     					asset('img/show.png') }}" title="Mostrar"</img></a>
                    
                    <a href="{{ path('investigador_edit', { 'id': entity.id }) }}"><img src="{{
    					 asset('img/edit.png') }}"title="Editar"</img></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
     <br>
    <br>

    <div class="botoncrear">
		<button type="button" onClick=" window.location.href='{{ path('investigador_new') }}' "> Crear Investigador</button>
	</div>
     
    {% endblock %}
