{% extends '::base.html.twig' %}

{% block body -%}

<nav>

       <ul>
            <li><a href="{{ path('proyectos_new') }}">Crear</a></li>
            <li><a href="{{ path('proyectos_search') }}">Busqueda Avanzada</a></li>
        </ul>
    </nav>

<h3 class="titulos">Proyectos</h3>
	<br> <br>
    
    
	<select id="select_facultad">
	{% for facultad in facultades %}
  		<option value="{{ facultad.id }}">{{ facultad.nombre }}</option>
   	{% endfor %}
   	<input id="buscar" type="button" class="button" value="Iniciar B&uacute;squeda">
   	
</select>
<div id="tabla">
    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Numero</th>
                <th>Titulo</th>
                <th>Gasto Efectivo</th>
                <th>Duracion</th>
                <th>Fecha Inicio</th>
                <th>Fecha Fin</th>
                <th>Horas Investigador Principal</th>
                <th>Horas Coinvestigadores</th>
                <th>Estado Informe</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('proyectos_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.numeroProyecto }}</td>
                <td>{{ entity.titulo }}</td>
                <td>{{ entity.gastoEfectivo }}</td>
                <td>{{ entity.duracion }}</td>
                <td>{% if entity.fechaInicio %}{{ entity.fechaInicio|date('d-m-Y') }}{% endif %}</td>
                <td>{% if entity.fechaFin %}{{ entity.fechaFin|date('d-m-Y') }}{% endif %}</td>
                <td>{{ entity.horasInvestigadorPrincipal }}</td>
                <td>{{ entity.horasCoinvestigadores }}</td>
                <td>{{ entity.estadoInforme }}</td>
                <td>
                	<a href="{{ path('proyectos_show', { 'id': entity.id }) }}"><img src="{{
    					 asset('img/show.png') }}"title="Mostrar"</img></a>
                   
                    <a href="{{ path('proyectos_edit', { 'id': entity.id }) }}"><img src="{{
    					 asset('img/edit.png') }}"title="Editar"</img></a>
    					 
    				<a href="{{ path('proyectos_generate', { 'id': entity.id }) }}"><img src="{{
     					asset('img/certificate.png') }}" title="Mostrar"</img></a> 
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    <br>
    <br>

    {% endblock %}
    
    {% block javascripts %}
	<script type="text/javascript">
        $('#buscar').click(function(){
        	var facultadId = $("#select_facultad").val();

        	var route='{{ path('siviuq_proyectos_actualizar')}}';        	
        	$.ajax({
            	type: 'POST',
        		url: route,
        		data: 'facultadId='+facultadId,
         		dataType: "html",
        		success: function (msg){
            		$("#tabla").html(msg);
            	}
            });
		});
</script>
{% endblock %}
