{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Grupos de investigación</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Codigo</th>
                <th>Nombre</th>
                <th>Fechaconformacion</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('gruposinvestigacion_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.codigo }}</td>
                <td>{{ entity.nombre }}</td>
                <td>{% if entity.fechaConformacion %}{{ entity.fechaConformacion|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                
                <a href="{{ path('gruposinvestigacion_show', { 'id': entity.id }) }}"><img src="{{
     					asset('img/show.png') }}" title="Mostrar"</img></a>
                    
                    <a href="{{ path('gruposinvestigacion_edit', { 'id': entity.id }) }}"><img src="{{
    					 asset('img/edit.png') }}"title="Editar"</img></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
     <br>
    <br>
 	<div class="botoncrear">
		<button type="button" onClick=" window.location.href='{{ path('gruposinvestigacion_new') }}' "> Crear Grupo</button>
	</div>
       
    {% endblock %}
